*{
    padding: 0;
    margin: 0;
}
.krejt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/fotot/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    
    color: #fff;
    font-size: larger;    
}
.banner{    
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
.content{
    background-color: rgba(238, 67, 0, 0.4);
    border-radius: 30px;
    display: grid;
    place-items: center;
    margin: 30px;
    padding: 15px;
}
.content h1{
    margin: 25px auto 8px auto;
    padding: 9px;
}
.content h5{
    padding: 9px;
    margin:8px auto;
}
.content p{
    padding: 9px;
    margin:8px auto;
}