* {
    padding: 0;
    margin: 0;

}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(/fotot/backgroundabout.jpg);
    background-size: cover;

}

.krejt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: medium;
}

.banner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.content {
    background-color: rgba(221, 23, 23, 0.7);
    border-radius: 30px;
    display: grid;
    place-items: center;
    margin: 30px;
    margin-top: 150px;
    padding: 15px;
}

.content h1 {
    margin: 25px auto 8px auto;
    padding: 9px;
}

.content h5 {
    padding: 9px;
    margin: 8px auto;
}

.content p {
    padding: 9px;
    margin: 8px auto;
}

span {
    color: rgb(221, 220, 220);
}

#svg {
    width: 250px;
    height: 10px;
}

@media screen and (max-width: 768px) {
    .krejt{
        width: 100%;
        font-size: smaller;

    }
    .krejt p{
        font-size: 10px;
    }
    .content{
        margin-top: 70px;
    }
}
