body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4)),url(/fotot/backgroundabout.jpg);
    background-size: cover;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    color: #fff;
}

h2 {
    text-shadow: 1px 1.5px grey;
}

.kontinier, .komenti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.kontaktet, .form-komenti {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kontaktet {
    margin-top: 50px;
    outline: 1.5px outset red;
}

.form-komenti {
    background-color: rgb(187, 46, 43);
    border-radius: 30px;
    padding: 20px;
}

.inputbox, .info-box, .icon {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px 0;
}

.inputbox input, .komenti input, .komenti textarea {
    width: 100%;
    border: none;
    padding: 9px;
    border-radius: 14px;
    background-color: rgba(243, 236, 236, 0.5);
    color: #fff;
}

.komenti textarea {
    height: 100px;
}

::placeholder {
    color: #fff;
    opacity: 0.75;
}

button[type="submit"] {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #d33f3f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: #b32b2b;
}

table.shcedule {
    width: 30%;
    height: 30%;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
}

table.shcedule th, table.shcedule td {
    border: 2px solid rgb(36, 35, 33);
    padding: 8px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .form-field {
        flex-direction: column;
        align-items: center;
    }

    .kontinier, .komenti {
        width: 90%;
    }

    table.shcedule {
        width: 78%;
        margin-bottom: 300px;
    }
}