.body{
    margin: 0;
    padding: 0;
    }
    
    .futeri{
        background-color:rgb(223, 22, 22);
        color: #fff;    
        text-align: center;
        max-height:100vh ;    
    }
    .qelula3{
        padding: 3px;
        background-color: rgb(223,22,22);
    }
    .table{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        font-family: 'Open Sans' sans-serif;
    }
    .tabela{
        border-spacing: 2px;
    }
    .table a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
    }
    .table p {
        color:white;
        color: rgba(0, 0, 0, 0.7);
    }
    .table ul li{
    
        display: inline-block;
    }
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img{
        width: 30px;
        margin: 0 15px;
    }
    .table img{
        opacity: 1;
    }