body {
    font-size: larger;
    line-height: 1.3;
    background-color: rgb(255, 255, 245);
    margin: 0;
    padding: 0;
}

.features {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.col-md-6 {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 10px;
}
#txt{
    background-color: #f4f4f4;
}
#txt h1{
    padding-top: 10%;
}
#txt h4{
    padding-bottom: 5%;
}

video {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Adjust styles for smaller screens (mobiles and laptops) */
@media only screen and (max-width: 768px) {
    .col-md-6 {
        flex-basis: 100%;
        max-width: 100%;
    }

    /* Change the order of the second row for mobile */
    .row:nth-child(2) .col-md-6:first-child {
        order: 2;
    }

    .row:nth-child(2) .col-md-6:last-child {
        order: 1;
    }
    .txt h1{
        padding-top: 17%;
    }
}
