body {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    line-height: 1.3;
    background-color:rgb(255, 255, 245);
  }
  header {
    background-color: #f4f4f4; 
    padding: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;    
}
h1 {
    margin-bottom: 10px;
}
.features {
    display: block;
    justify-content: space-around;
    margin: 40px 81px;

}
table {
    border-spacing:0 100px ;
}
#video1{
    width: 900px;
    border-radius: 15px;
}
.celula2{
    padding: 130px;
}
.darkMode{
    background-color: black;
    color: white;
}
  

 