<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/futeri.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 

</head>
<body>
    <footer>
    <div class="futeri">
        <div class="table">
        <table>
            <tr>
                <td>
                    <div class="social-links">
                        <a href="https://www.facebook.com/"><img src="/fotot/facebook.png" alt="instagram" class="img"></a>
                        <a href="https://www.instagram.com/"><img src="/fotot/instagram (1).png" alt="Facebook" class="img"></a>
                        <a href="https://www.google.com/gmail/about/"><img src="/fotot/email.png" alt="email" class="img"></a>
                    </div>
                </td>
            </tr>
            <div class="navigations">
            <div class="renipar">
                <tr>
                <td>
                     <ul>
                        <li><a href="/html/About.html">Info</a></li>
                        <li><a href="/html/contact.html">Support</a></li>
                        <li><a href="">Marketing</a></li>
                    </ul>
                </td>
            </tr>
        </div>
        <div class="reniDyte"></div>
            <tr>
                <td>
                    <ul>
                        <li><a href="">Tearms of Use</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </td>
            </tr>
            <div class="reniItret">
            <tr>
                <td>
                     <ul>
                        <li><p>Copyright</p></li>
                    </ul>
                </td>
            </tr>
            </div>
       
        </table>
    </div>
    </div>
    </footer>  
    
</body>
</html>