<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kristi&family=Open+Sans:wght@300&family=Praise&display=swap" rel="stylesheet">
</head>
<body>
        <nav>
            <div class="menu-toggle">
                <div class="hamburger"></div>
            </div>
        <ul class="navElements">
            <li class="a1"><a href="../html/home.html">Home</a></li>
            <li class="a1"><a href="../html/books.html">Books</a></li>
            <li class="a1"><a href="../html/offers.html">Offers</a></li>
            <li class="a1"><a href="../html/contact.html">Contact Us</a></li>
            <li class="a1"><a href="../html/about.html">About</a></li>
            <li class="a1"><a href="../html/SignIn.html">Log Out</a></li>
            <li class="a2"><label class="switch">
                <input type="checkbox" onclick="myfunction()">
                <span class="slider round"></span>
              </label></li>
        </ul>
    </nav>
    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function () {
            document.querySelector('.navElements').classList.toggle('active');
            document.querySelector('.menu-toggle').classList.toggle('active');
        });
    </script>
</body>
</html>